<link rel="stylesheet" type="text/css" href="./styles.css">
<div class="panel panel-default">
   <div class="panel-body">
      <div class="pull-left">
         <img src="{{userModel.avatar}}" class="img-circle userpicmd"> 
      </div>
      <div class="panelpdmd">
         <div class="text-highlight">{{userModel.name.first}} {{userModel.name.last}}</div>
         <div class="text-xsmall">{{userModel.email}}</div>
         <div class="text-xsmall">{{userModel.jobTitle}} {{userModel.organization}}</div>
      </div>
   </div>
</div>
</div>
